body {
    margin: 0px;
    padding: 0px;
    height: auto;
}

.component_container {
    margin-top: 40px;
}

.users_list {
    width: 100%;
}

.list_item {
    background-color: rgba(236, 235, 235, 0.3);
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
}