.main_title {
    text-align: center;
}

.item {
    color: rgb(218, 255, 170);
}

.user_error {
    width: 400px;
    height: 100px;
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 60, 0, 0.9);
}

.link_error {
    display: block;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 255, 0);
    font-weight: 200;
    text-decoration: underline;
    border: 1px solid #fff;
    &:hover {
        color:rgb(0, 0, 0);
        opacity: 0.8;
        transition: 0.3s;
    }
}